:root{
    --background-blue: #0F518E;
    --white: #fff;
    --bg-white: #D6D6D6;
    --btn-hover: #dadad173;
    --black-text: #0A0808;
    --black-para: #6A6A6A;
    --btn-hero: #0084FE;
    --hover-card: #b9b9b9;
    --btn-hero_hover: #3d6e9b;
}